{% extends 'base.html.twig' %}

{% block body %}
    <h1>Camera</h1>
    <h2 class="h4">
        Posted by:
        <a href="{{ path('user_show', { 'id': camera.user.id }) }}">
            {{ camera.user.username }}
        </a>
    </h2>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Make</th>
            <th>Model</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Min Shutter Speed</th>
            <th>Max Shutter Speed</th>
            <th>Min ISO</th>
            <th>Max ISO</th>
            <th>Full Frame</th>
            <th>Video Res</th>
            <th>Light Metering</th>
            <th>Description</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ camera.id }}</td>
            <td>{{ camera.make }}</td>
            <td>{{ camera.model }}</td>
            <td>{{ camera.price }}</td>
            <td>{{ camera.quantity }}</td>
            <td>{{ camera.minShutterSpeed }}</td>
            <td>{{ camera.maxShutterSpeed }}</td>
            <td>{{ camera.minIso }}</td>
            <td>{{ camera.maxIso }}</td>
            <td>{% if camera.isFullFrame %}Yes{% else %}No{% endif %}</td>
            <td>{{ camera.videoResolution }}</td>
            <td>{{ camera.lightMetering }}</td>
            <td>{{ camera.description }}</td>
            <td><img src="{{ camera.imageUrl }}"></td>
        </tr>
        </tbody>
    </table>

    <div>
        <div>
            <a href="{{ path('camera_edit', { 'id': camera.id }) }}">Edit</a>
        </div>
        <div>
            {{ form(delete_form) }}
        </div>
        <div>
            <a href="{{ path('camera_index') }}">Back to the list</a>
        </div>
    </div>
{% endblock %}
